<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="">
    <a class="navbar-brand"[routerLink]= "['/home']">
      <img [src] ="'assets/logo.jpg'" alt= "The Food Website" style="max-height: 50px;max-width:75px">
     <!--  <h6>Food Website</h6> -->


  </a>
</div>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active" >
        <a class="nav-link" [routerLink]= "['/home']"
          >Home <!-- <span class="sr-only">(current)</span> --></a
        >
      </li>
      <li class="nav-item" >
        <a [routerLink]= "['dish']" class="nav-link">Dishes</a>
      </li>
      <li class="nav-item" >
        <a [routerLink]= "['order']" class="nav-link">Orders</a>
      </li>
     <!--  <li class="nav-item" *ngIf="isLoggedIn">
        <a [routerLink]= "['/orderMgmt']" class="nav-link">Orders</a>
      </li> -->
      <!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" [routerLink]= "['/orderMgmt']" role="button"  aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]= "['/orderMgmt/normalOrder']">Normal Order</a>
          <a class="dropdown-item" [routerLink]= "['/orderMgmt/premiumOrder']">Premium Order</a>
          <a class="dropdown-item" [routerLink]= "['/orderMgmt/placeOrder']">Place Order</a>
        </div>
      </li> -->
    </ul>

    <!-- *******Cart Icon********** -->
    <div class= "cart">
     <a [routerLink] ="['/cart']" data-toggle="tooltip" data-placement="bottom" title="Go to cart" >
      <span>
        <svg class="bi bi-bag-fill" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 4h14v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4zm7-2.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
        </svg>
      </span>
      </a>
     <!-- empty cart symbol
        <span>
        <svg class="bi bi-bag-dash" width="20px" height="20px" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M14 5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5zM1 4v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4H1z"/>
          <path d="M8 1.5A2.5 2.5 0 0 0 5.5 4h-1a3.5 3.5 0 1 1 7 0h-1A2.5 2.5 0 0 0 8 1.5z"/>
          <path fill-rule="evenodd" d="M5.5 10a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
        </svg>
      </span> -->

    </div>

    <span class="navbar-text" >
      <a (click) = "onLogout()" style = "cursor: pointer">Logout</a>
    </span>
  </div>
</nav>








_






















<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">



      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    Logout
  </div>
</nav>


 -->
