<!-- <br><br>
<br><br>
<h2 class="text-center"> Orders Page not yet implemented....</h2>
<br><br>
<h4 class= "text-center"> Work in progress....</h4>

<div class="progress col-md-5 padding- center">
  <div class="progress-bar bg-success" role="progressbar" style="width: 55%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="80"></div>
</div> -->
<div class= "container center" style="text-align: center;">
<div *ngIf = "orders.length != 0" class ="pull-right">
  <br><br>
  <img [src] = "'assets/order_successfull.jpg'" style="max-width: 264px;  max-height: 300px;" class="center">
  <div class= "container col-md-5">
    <button type= "button" class= "btn btn-info center" (click) = "onGoHome()">Go to Home</button>
  </div>

</div>
<div *ngIf = "orders.length == 0" class ="pull-right">
  <h3><br><br> No Orders yet !!!</h3>

    <img [src] = "'assets/emptyOrder.jpg'" style="max-width: 264px;  max-height: 300px;" class="center">
    <div class= "container col-md-5">
      <button type= "button" class= "btn btn-info center" [routerLink] = "['/dish']">Choose Some Dish!</button>
    </div>

  </div>

</div>


